---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="自己紹介">
    <p>
      WebエンジニアのYukiです。主にフロントエンド開発を担当しており、Reactを中心に、Angular、Next.jsなどのフレームワークを用いて開発しています。また、JavaやPythonを用いた開発経験も少しですがあり柔軟に対応できるエンジニアを目指しています。
    </p>

    <h2>趣味と興味</h2>
    <p>
      私の趣味は、最新のガジェットを集めたり情報収取したりすることと散歩です。
      新しい技術を学び、学んだ技術を使用していろんなものを制作することがとても楽しくプログラミングは、私にとって仕事以上のものです。
    </p>

    <h2>これからの目標</h2>
    <p>
      エンジニアに転職して新しい環境に慣れてきましたので、副業にも力を入れていきたいと考えています。プログラミングは学ぶべきことが尽きることはありませんので、私がこれまでに学んだこと、経験したことを、ブログやオンラインコミュニティを通じて共有し、皆さんと一緒に新しいチャレンジをしていきたいです。学びは共有することで、さらに価値が増すと信じています。一緒に学び、成長を楽しんでいきましょう!!
    </p>
  </Page>
</Base>
