---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="About Me">
    <h2>自己紹介</h2>
    <p>
      こんにちは、私はフロントエンドエンジニアとして活動しています。Reactをメインに使用していますが、今の職場ではAngularとJavaを用いたWebアプリケーションの開発に携わっています。
    </p>

    <h2>キャリア</h2>
    <p>
      私のエンジニアとしてのキャリアは31歳から始まりました。それまではコンビニで働いていました。エンジニアとしてのスタートが遅かったため、自分のスキルの無さを痛感し、一生懸命学びに励んでいます。しかし、それは私の強みでもあります。新しい視点と経験を持って、技術の世界に飛び込むことができました。
    </p>

    <h2>趣味と興味</h2>
    <p>
      私の趣味はガジェット、筋トレ、散歩ですが、最近はほとんどの時間をパソコンと共に過ごしています。新しい技術を学び、新しい発見をすることは、私にとって大きな楽しみです。それは私の日々の生活を充実させ、エネルギーを与えてくれます。
    </p>

    <h2>これからの目標</h2>
    <p>
      転職してから落ち着いてきた今、副業にも力を入れていきたいと考えています。プログラミングの世界は広大で、まだまだ学ぶべきことがたくさんあります。私が学んだことを皆さんと共有し、一緒に新しいチャレンジをしていきたいと思います。一緒に学び、成長し、楽しんでいきましょう！
    </p>
  </Page>
</Base>