---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="About Me">
    <h2>自己紹介</h2>
    <p>
      こんにちは！私の名前はYukiです。フロントエンド開発を担当しており、Reactを中心に、Angular、Vue.js、Next.jsなどのフレームワークを用いて開発しています。また、バックエンド領域のJavaやPythonを用いた開発経験も少しですがあり、技術の多様性を理解し、柔軟に対応できるエンジニアを目指しています。
    </p>

    <h2>キャリア</h2>
    <p>
      30歳まで地元のコンビニで勤務していました。その後、独学でプログラミングを学び、エンジニアに転職しました。周囲との差を埋めるために日々努力し、現在はコミュニケーション能力とプロジェクトマネジメントスキルを活かして、チームに貢献しています。
    </p>

    <h2>趣味と興味</h2>
    <p>
      私の趣味は、最新のガジェットを集めること、週に数回の筋トレ、そして、自然を感じられる長い散歩です。しかし、何よりも、新しい技術を学び、それを使って何かを作り出すことに大きな喜びを感じています。AIのAPIを使ったサービス開発にも挑戦しています。プログラミングは、私にとって単なる仕事以上のものです。それは、創造性を発揮し、常に成長し続けることができる、無限の可能性を秘めた世界です。
    </p>

    <h2>これからの目標</h2>
    <p>
      最近、転職して新しい環境に慣れてきたこの時期に、副業としてのプロジェクトにも力を入れていきたいと考えています。また、バックエンド領域の知識を深め、フルスタックエンジニアを目指します。プログラミングの世界は広大で、学ぶべきことが尽きることはありません。私がこれまでに学んだこと、経験したことを、ブログやオンラインコミュニティを通じて共有し、皆さんと一緒に新しいチャレンジをしていきたいです。学びは共有することで、さらに価値が増すと信じています。一緒に学び、成長し、この技術の旅を楽しんでいきましょう！
    </p>
  </Page>
</Base>
