---
import config from '@config/config.json';
---

<section class="bg-zinc-50 dark:bg-zinc-900">
  <div class="mx-auto max-w-screen-lg px-4 py-0 pb-6 sm:px-6 sm:pb-12 lg:px-8">
    <p class="text-sm text-zinc-500 md:text-lg dark:text-zinc-400">
      {config.author.bio}
    </p>
  </div>
</section>
